@model RPNETForum.Classes.Models.Users.RegisterModel
@{
    ViewBag.Title = "Registration Successful";
}

<center>
    <h3>Registration Complete</h3>
    Please check your email for your activation link
</center>