
@{
    ViewBag.Title = "Logout";
}
<script>
     $(document).ready(function() {
         setTimeout(function() {
             document.location.href = "http://@UserSession.CurrentContext.Request.Url.Host/";
         }, 3000);
     });
 </script>

<center>
    <h3>Logged out</h3>
    You were successfully logged out
</center>