
@{
    ViewBag.Title = "Verfification Success";
}

<script>
    $(document).ready(function() {
        setTimeout(function() {
            document.location.href = "http://@RPNETForum.Session.CurrentContext.Request.Url.Host/Login";
        }, 3000);
    });
</script>

<center>
    <h3>Verification Successful</h3>
    You will now be redirected to the login page. If you don't click @Html.ActionLink("here", "Index", "Login")
</center>